<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_cherrysumer.project.dao.IPictureDAO">
  	
  	
  	<resultMap id="resultpic" type="com.spring_boot_cherrysumer.project.model.PictureVO" >
  		
  		<result property="picTitle"  column="picTitle"  />
  		<result property="picNo"  column="picNo"  />
  		<result property="picPrice"  column="picPrice"  />
  		<result property="picType"  column="picType"  />
  		<result property="picSize"  column="picSize"  />
  		<result property="picimg"  column="picimg"  />
		<result property="picauthor"  column="picauthor"  />
		<result property="piccontent"  column="piccontent"  />
		<result property="pictech"  column="pictech"  />	
		<result property="good"  column="good"  />	

  	</resultMap>
  	

  	<select id="ListPicture" resultMap="resultpic">
  		SELECT * FROM  picture where good="1" ORDER BY picNo DESC
  	</select>
  	
  	<!-- 승인 안된 사진(관리자) -->
  	<select id="greenEyeFilter" resultMap="resultpic">
  		SELECT * FROM  picture where good="2" ORDER BY picNo DESC
  	</select>
  	
  	<!-- 등록 -->
 <insert id="insert" parameterType="com.spring_boot_cherrysumer.project.model.PictureVO">
  		insert into picture(memId, picTitle, picNo, picPrice, picType, picSize, piccontent,
								picimg, pictech, picauthor, good)
  		values (#{memId},#{picTitle},#{picNo},#{picPrice},#{picType},#{picSize},#{piccontent},#{picimg},#{pictech},#{picauthor},#{good})
 </insert>
  	
  	<!-- 검색 -->
	<select id="Search" parameterType="String" resultMap="resultpic">
  		SELECT * FROM  picture WHERE
  		picTitle Like CONCAT('%',#{keyword},'%')
  		OR piccontent Like CONCAT('%',#{keyword},'%')
  		OR picauthor Like CONCAT('%',#{keyword},'%')
  		OR picauthor Like CONCAT('%',#{keyword},'%')
  	</select>
  	
 <!--  	메인 목록 	 -->
  	  	<select id="ListPicture1" resultMap="resultpic">
  		SELECT * FROM  picture where good="1" ORDER BY picNo DESC limit 0,8
  	</select>
  	
  		<!--memId로 작가 사진 목록 불러오기 -->
	<select id="ListPicture2" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.ExhibitionVO">
		select * from exhibition where exhNo=#{exhNo}
	</select>
  	
  	<!-- 불통과된 사진 삭제 -->
	<delete id="PicNopass" parameterType="int">
		DELETE FROM picture
		WHERE picNo=#{picNo}
	</delete>

	<!-- 통과된 사진 조회 -->
	<update id="PicPass" parameterType="int">
		UPDATE picture SET good='1' WHERE picNo=#{picNo};
	</update>
	
  	
  	
  	</mapper>