<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_cherrysumer.project.dao.IArtistDAO">

	<!-- 작가들 조회 -->
	<select id="ArtistAll"
		resultType="com.spring_boot_cherrysumer.project.model.MemberVO">
		select * from member where memImg is not null and memName is not null; 
	</select>

	<!--memId로 작가 사진 목록 불러오기 -->
	<select id="ArtList" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.PictureVO">
		select * from picture where memId=#{memId}
	</select>

	<!-- memId로 작가 정보 가져오기 -->
	<select id="Artist" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.MemberVO">
		select * from member where memId=#{memId}
	</select>

	<!-- picNo 사진 상세 정보 가져오기 -->
	<select id="picDetail" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.PictureVO">
		select * from picture where picNo=#{picNo}
	</select>

	<!-- picNo 사진 상세 정보 가져오기 -->
	<select id="picMemId" parameterType="string" resultType="string">
		select memId from picture where picNo=#{picNo}
	</select>
	
	<!-- 전시회 상세 정보 불러오기 -->
	<select id="exList2" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.Exhibition2VO">
		SELECT * FROM art JOIN exhibition ON exhibition.memId = art.memId where #{today}>=exhibition.exhStartDate and exhibition.exhEndDate>#{today} and art.artMain="O" and exhConfirm="O";
	</select>
	
	<!-- memId로 작가 이름 가져오기 -->
	<select id="artistName" parameterType="string"
		resultType="string">
		SELECT memName FROM member where memId=#{memId}
	</select>
	
	<!-- coming Soon 전시회 불러오기 -->
	<select id="comingList" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.Exhibition2VO">
		SELECT * FROM art JOIN exhibition ON exhibition.memId = art.memId where exhibition.exhStartDate>#{today} and art.artMain="O" and exhConfirm="O";
	</select>

	<!-- 작품 업데이트 -->
	<update id="ArtUpdate"
		parameterType="com.spring_boot_cherrysumer.project.model.PictureVO">
		UPDATE picture
		SET
		picTitle=#{picTitle},picPrice=#{picPrice},picType=#{picType},picSize=#{picSize},
		piccontent=#{piccontent},picauthor=#{picauthor},pictech=#{pictech}
		WHERE picNo=#{picNo}
	</update>

	<!-- 삭제버튼 클릭시 데이터 삭제 -->
	<delete id="myArtDelete" parameterType="string">
		DELETE FROM Picture WHERE PicNo = #{PicNo}
	</delete>

	<!-- memId로 현재 내 포인트 불러오기 -->
	<select id="NowMyPoint" parameterType="string" resultType="int">
		select pointTotal from point_all where memId=#{memId}
	</select>




	<!-- 메인 페이지 전시회관-->
	<select id="exList3" parameterType="string"
		resultType="com.spring_boot_cherrysumer.project.model.Exhibition2VO">
		SELECT * FROM art JOIN exhibition ON exhibition.memId = art.memId where #{today}>=exhibition.exhStartDate and exhibition.exhEndDate>#{today};
	</select>




</mapper>