@charset "UTF-8";

/* @import
	url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
 */
 
#bdone{
	margin: 0;
     margin-bottom: 7%;}
     
.imgBox {
	width: 45%;
	height: 100%;
	margin: auto;
}

.imgBox img {
	width: 100%;
	height: 100%;
}

.dealimg {
	background-size: cover;
}

.product {
	position: relative;
	display: flex;
	margin-top: 22px;
	padding: 0px 55px;
}

.product_image {
	position: relative;
	max-width: 700px;
	height: 450px;
	/* text-align: center; */
	width: 100%;
	/* max-height: 450px; */
}

#preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.headtitle {
	
}

.infotitle {
	text-align: center;
	font-size: x-large;
}

.buyimginfo {
	display: flex;
}

.conteiner {
	margin: 0 5%;
	padding-top: 30px;
	/* font-family: 'Gowun Dodum', sans-serif; */
}

.postcodify_postcode {
	width: 100%;
}

.buyerinfo_list {
	display: flex;
	justify-content: left;
	padding: 0 30%;
}

.meminfo {
	display: inline-flex;
	width: 140px;
	padding: 6px 10px;
	font-weight: 700;
	width: 200px;
}

.underline, .addresss {
	border-style: none;
	border-bottom: solid 1px #868686;
	border-collapse: collapse;
	background: transparent;
	width: 200px;
}

#searchpost {
	height: 72px;
	width: 60px;
	position: relative;
	left: 5px;
	top: -32px;
}

#adad {
	width: 100%;
	position: relative;
	left: 59px;
}

.addresss {
	
}

.infobox {
	display: flex;
	position: relative;
	left: 17.8%;
}

.buyerbox1 {
	margin-right: 5%;
}

.tb th {
	font-size: 20px;
	/* padding-right: 25px; */
	font-family: 'Gowun Dodum', sans-serif;
}

.tb td {
	text-align: center;
}

#btn-kakaopay {
	width: 25%;
    height: 55px;
}

.total {
	text-align: center;
}

.buybtn {
	text-align: center;
}

/* ----------------- 결제 radio ---------------------------- */
.select {
	padding: 15px 10px;
	text-align: center;
}

.select input[type=radio] {
	display: none;
}

.select input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
	height: 45px;
    width: 120px;
	/* border: 1px solid #333; */
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	    margin:0 10px;
	    padding: 5px;
}

.select input[type=radio]+label {
	background-color: #fff;
	color: #333;
}

.select input[type=radio]:checked+label {
	background-color: #333;
	color: #fff;
	padding: 5px;
}

label img {
	width: 100%;
	height: 100%;
}

#totalDealBar {
	position: fixed;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: cadetblue;
	/* opacity: 1; */
	z-index: 10;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 12%;
	border-radius: 10px;
}

#tdb1, #tdb2 {
	width: 50%;
	text-align: center;
	margin: auto;
}

#tdb1 {
	font-size: 30px;
	    font-weight: 600;
}

.dealbtn{
	letter-spacing: 2.5px;
    font-weight: 550;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
        border: 1px solid;
    position: relative;
}


.dealbtn:hover{
background-color: gray;
    box-shadow: 0px 15px 20px #77767675;
    color: #fff;
    transform: translateY(-5px);
	
}









