@charset "UTF-8";



.imgBox{
	width:45%;
	height:100%;
	margin:auto;
}


.imgBox img{
	width:100%;
	height:100%;
}


.dealimg{
	background-size:cover;
}
.headtitle {
	
}

.infotitle{
	    text-align: center;
	        font-size: xx-large;
}

.buyimginfo{
	display:flex;
}
.conteiner{
	   
    padding-top: 30px;
}


.buyerinfo_list{
	display: flex;
}
.meminfo{
	display: inline-flex;
    width: 140px;
    padding: 6px 10px;
    
    font-weight: 700;
}
#searchpost{
	height: 60px;
    width: 56px;
    position: relative;
    left: 5px;
}

.infobox{
	    display: flex;
	        position: relative;
    left: 17.8%;
	    
}
.buyerbox{
	border-left: 1px solid;
}

.buyerbox1{
	margin-right: 5%;
}

.tb th{
	font-size: 25px;
	    padding-right: 25px;
}
#btn-kakaopay{
width: 18%;
    height: 52px;

}
.total{
	text-align: center;
}
.buybtn{
	text-align: center;
}

}