/* Basic */
html {
	box-sizing: border-box;
}

h2 {
	font-weight: 400;
	color: #fff;
	letter-spacing: -0.05em;
}

/* Wrapper */
#wrapper {
	    min-height: 74vh;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: filter 0.5s ease-in-out;
}

#wrapper:before {
	content: '';
	display: block;
}

/* Scroll Zone */
.scrollZone {
	position: fixed;
	width: 6rem;
	height: 100vh;
	cursor: none;
	z-index: 10001;
}

/* Main */
#main {
	padding: 5px;
	font-size: 13pt;
	color: rgba(255, 255, 255, 0.6);
	overflow: hidden;
}

.items {
	display: flex;
}

.items>:last-child {
	border-right: solid 10px #ffffff;
}
.items>:first-child {
	border-left: solid 10px #ffffff;
}

.item {
	margin: 5px;
	height: 13em; 
	min-width : 180px;
	box-shadow: 0 0 0 10px #ffffff;
	min-width: 180px;
}

.intro {
	box-shadow: 0 0 0 10px #ffffff;
	background-color: #d64760;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 45px;
	min-width: 305px;
	margin: 5px;
}

.intro h1 {
	font-size: 3em;
	line-height: 0;
}

.intro p {
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0.5em 0 0 0;
	opacity: 0.65;
}

#main .item.thumb {
	display: block;
	position: relative;
	background: rgba(255, 255, 255, 0.25);
	cursor: default;
}

.thumb h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(18, 21, 29, 0.85);
	width: 80.5%;
	padding: 1em;
	line-height: 1em;
	z-index: 2;
	margin: 0;
	font-size: 100%;
}

#main .item.thumb img {
	display: block;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}