@charset "UTF-8";

/* footer */
#end{
	    height: 7em;
    margin: 2em 1em;
}
#footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: black;
    /* height: 5em;
    margin: 2em 1em; */
    height: 100%;
}
#footName{
        float: left;
    margin: 5px 21px;
    font-size: 40px;
    font-weight: 600;
}
.footIndex{
    width: 800px;
    margin: 0px 10px;
    font-size: 14px;
}

/* #footer>section:first-child {
	text-align: left;
	max-width: 36em;
	padding-right: 2em;
} */

#footer>section:last-child {
	text-align: right;
	max-width: 36em;
	width: 390px;
}

.icons{
	margin: 0;
    padding: 0;
	height:50%;
	    width: 100%;
}

.icons li{
	float: left;
    width: 40px;
    height: 30px;
    margin: 0px 10px;
}

.icon1 img{
	width:100%;
	
}

.copyright{
	margin: 0;
    padding: 0;
    height: 50%;
        text-align: left;
            width: 230px;
}

.copyright li{
    font-size: 14px;
}

.qna{
	width: 160px;
    display: flex;
    right: 20px;
    position: absolute;
    top: 0px;
    margin: auto;
    height: 140px;
    bottom: 20px;
}

.qna img{
	width:100%;
	
}
