@charset "UTF-8";
/* .background{
    height: 380px;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-color:rgb(245,245,245);
    background-image: url("/image/sand.jpg");
}

#two{
	display: flex;
    background: cadetblue;
    padding: 4em 0;
}

.inner2{
	width: calc(100% - 6em);
    font-size: 18px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    max-width: 65em;
    
}

.actions{
	cursor: default;
    list-style: none;
}
 */

@charset "UTF-8";

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0px;
    background-color: #6e6e6e;
}

#footerHr{
    margin: 10px 50px;

}
#footerABox{
    margin-bottom: 10px;
    font-size: 30px;
}

#footerABox a:first-child{
    margin-right: 50px;
    float: left;
}
#footerAT{
    margin-left: 50px;
}
#footerABox hr{
    float: left;
    width: 1px;
    height: 20px;
    margin-top: 10px;
}
#footerABox a{
    font-weight: 600;
    text-decoration-line: none;
    color: black;
}

#footerRightBox{
    display: flex;
    align-items: center;
}
#footerRightBox div{
    margin-right: 30px;
}

#footerRightBox img{
    width: 150px;
    height: 150px;
}

.footerLeftBoxDiv{
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 500;
}

#callNumber{
    font-size: 50px;
    font-weight: 600;
}

#callDate{
    font-size: 30px;
    font-weight: 400;
}
