@charset "UTF-8";
body {
    margin : 0;
}
@keyframes fadeInLeft {
    0%{
        opacity:0;
        transform: translateX(-5%);
    }
    to{
        opacity: 1;
        transform:translateZ(0);
    }
}
.background{
    width:100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}
.background.first{
    position: relative;
    /* background-image: linear-gradient(rgba(0,0,0,0.6, rgba(0,0,0,0.6)),url("/image/exh_bg_header.jpg")); */
    background-image: url(/image/exh_bg_header.jpg);
    opacity: 60%;
}

.background.bg-pic1{
    background-image: url(/image/exh_bg2.jpg);
}
.background.bg-pic2{
    background-image: url(/image/exh_glass.jpg);
    opacity:60%;
    height: 400px;
}
.background.bg-pic3{
    background-image: url(/image/exh_bg-lines.jpg);
}
.background.bg-pic4{
    background-image: url(/image/exh_bg.jpeg);
    height:500px;
}

.background.bg-pic5{
    background-image: url(/image/exh_bg-leaves4.jpg);
    opacity: 80%;
}

.background.bg-textPic{
    background-image: url(/image/exh_bg-flower.webp);
    height:100%;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
}

.background.bg-white{
    background-color:white;
    position : relative;
}
.background.end{
    background-image: url(/image/exh_bg-river.png);
}
.background.exhibition{
    background-color: rgb(240, 243, 242);
    /* background-image: url(/image/exh_bg-frame3.png);
    background-size: 100% 100%; */
}
.background.exhibition2{
    background-color: white;
}

#text_header{
    /* border: 5px solid yellow; */
    max-width: 45%;
    top: 70%;
    left:10%;
    position: relative;
    animation: fadeInLeft 1.5s;
}

#painter{
    font-family: 'Titillium Web', sans-serif;
    font-size : 2.5rem;
    color: rgba(40, 43, 123);
    /* color: rgba(14, 14, 14); */
    /* text-shadow: 5px 3px 0px whitesmoke; 그림자효과*/
    font-weight: bold;
}

.title{
    display:inline-block;
    color: rgb(17, 18, 35);
    font-style:italic;
    font-weight: bold;
    font-size:30px;
}

.title.eng{
    font-family: Sofia Sans Semi Condensed;
}

.title.kor{
    font-family: 'Noto Serif KR', serif;
    padding-top:10px;
    font-size: 26px;
}

#date{
    color: rgb(17, 18, 35);
    /*color: rgba(40, 43, 123);*/
    font-size:1.4rem;
    padding-top:15px;
}

.text{
    text-align: center;
    /* border: 5px solid yellow; */
    max-width:80%;
    position:relative;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(20%);
    /* z-index: 1; */
    font-family: 'Noto Serif KR', serif;
}

.text2{
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    top:45%;
    position:relative;
    font-size:1.5rem;
    color: rgb(82,86,86);
}

.explain {
    text-align: center;
    height: 270px;
    width: 550px;
    /* border: 5px solid black; */
    font-family: 'Noto Serif KR', serif;
    display: inline-block;
    transform: translateX(-50%) translateY(45%);
    color: rgb(82,86,86);
}

.firstText{
    height:270px;
    color:black;
    font-size: 22px;
}

.pic{
    /* border:2px solid black; */
    top:50%;
    position:absolute;
    transform : translateY(-50%);   
}

.pic.pic3{
    width:350px;
    left:20%;
}

.article{
    height:330px;
    /* background-color: rgb(235, 235, 235); */
    /* background-color: rgb(251,251,251); */
    background-color: rgb(248,248,248);
    position : relative;
}
.article2{
    transform: translateX(-30%);
}

.person{
    right:20%;
    margin-top: 38px;
    position:absolute;
}
.interview{
    width: 450px;
    height:220px;
    /* border:3px solid yellow; */
    left:30%;
    line-height: 180%;
    transform: translateX(-20%) translateY(-45%);
}
.bigPaint{
    width:700px;
    height:500px;
    display:inline-block;
    transform: translateX(-18%) translateY(-10%); 
    background-size: contain;
    background-repeat: no-repeat;
}
.bigPaint.bp1{
    background-image: url(/image/exh_bg-branch.jpg);
}
.bigPaint.bp2{
    background-image: url(/image/exh_bg-leaves4.jpg);
}

.interview2{
    width: 500px;
    height:220px;
    border:3px solid yellow;
    left:60%;
    top:50%;
    line-height: 180%;
    transform: translateX(10%) translateY(-80%);
    display:inline-block;
}


.paintBox{
    width: 1100px;
    /* border:3px solid black; */
    margin:0 auto;
    transform: translateY(10%);
    display: block;
    z-index: 0;
}
.picTitleBox{
    display: inline-block;
    /* border: 3px solid green; */
    width: 1030px;
    height: 60px;
    z-index: 1;
    margin:0;
    transform: translateX(20%) translateY(70%);
    font-family: 'Gowun Batang', serif;
}
/* .picTitle{
    border: 3px solid yellow;
    width:200px;
    height:50px;
    margin-left:50px;
    margin-right:50px;
    text-align: center;
    display: inline-block;
    color: rgb(82,86,86);
} */
.picTitle {
    /* border: 3px solid yellow; */
    width: 200px;
    height: 50px;
    position: relative;
    left: 28%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    color: rgb(82,86,86);
}
.picTitle.picT2{
    transform:translateX(33%)
}
.picTitle.picT3{
    transform:translateX(65%)
}

.paint{
    border:4px solid rgb(49, 49, 49);
    display:inline-block;
    width:250px;
    height:325px;
    top:50px;
    margin:50px;
    box-shadow: 5px 40px 20px lightgrey;
    background-size: cover;
    background-repeat: no-repeat;
}
.paint.paint1{
    background-image: url(/image/exh_cat1.webp);
    object-fit: cover;
    background-position: 63%;
}
.paint.paint2{
    background-image: url(/image/exh_flower2.jpg);
}
.paint.paint3{
    background-image: url(/image/exh_leaf1.jpg);
}
.paint.paint4{
    background-image: url(/image/exh_flower4.png);
}
.paint.paint5{
    background-image: url(/image/exh_bg-leaves.png);
    background-color: white;
    background-position: 40%;
}
.paint.paint6{
    background-image: url(/image/exh_bg-flower3.png);
    background-color: rgb(49, 52, 51);
    background-position: 43%;
}
.paint.paint7{
    background-image: url(/image/exh_bg-blue.jpg);
}
.paint.paint8{
    background-image: url(/image/exh_bg-blue.jpg);
}

.ending{
    /* background-color: bisque; */
    top:30%;
}
#GotoPainter{
    /* background-color: aqua; */
    width:800px;
    height: 100px;
    margin:0 auto;
    text-align: center;
    margin-top:190px;    
    color: rgb(82,86,86);
}
