body{
    margin: 0;
}
#wrapper{
	background-image:url("/image/exh_museum.jpg");
	background-size:100%;
	overflow: hidden;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.logoBox{
    height:230px;
    text-align:center;
    margin-top:50px;
}

.logoBox img{
	height:230px;
	
}
table{
    margin:0 auto;
    margin-top: 50px;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 10px;
    box-shadow:0px 0px 20px #011;
}
th, td{
	padding: 15px; /* 테두리와 내용 사이 간격*/
	padding-left: 40px;
	padding-right: 40px;
}
.item{
	font-family: 'Do Hyeon', sans-serif;
	color: rgb(122,122,122);
}
input{
	height:100%;
	width: 100%;
	border: none;
	border-bottom: 2px solid silver;
}

#imageBox{
	object-fit:cover;
	height: 740px;
	line-height:740px;
	width:660px;
	line-width:660px;
	border:3px solid rgb(240,240,240);
	text-align:center;
	display:flex;
	justify-content: center;
	border-radius:15px;
}
#imageBox img{
	max-width:660px;
	max-height: 740px;
	object-fit:contain;
}

#multiListBox{
	height:130px;
	margin:0 auto;
}
#listBox{
	width:190px;
}
#imageFileForm{
	width: 200px;
}

 textarea {
    width: 99%;
    height: 8rem;
    border: none;
    resize: none;
 }
 
 .terms{
 word-break:break-all;
 width: 1250px;
 }