body{
    margin: 0;
}
#wrapper{
	background-image: url(/image/exh_museum.jpg);
	background-attachment: fixed;
}

.logoForm{
	max-width:80%;
	margin:0 auto;
    margin-top: 100px;
    height:230px;
    /* background-color: aquamarine; */
    border-bottom: 1px solid rgb(82,86,86);

}

.logoBox{
    height: 350px;
    /* background-color: blueviolet; */
    display: flex;
}
.logoBox img{
	height: 300px;
	display: block; margin: 0px auto; /* 이미지 가운데 정렬 */
	margin-top:50px;
}

.textBox{
    display:inline-block;
    /* background-color: blanchedalmond; */
    position: absolute;
    height: 180px;
    left:20%;
}

table{
    margin:0 auto;
    margin-top: 50px;
    background-color:rgba(245,245,245,0.9)
}
th, td{
	padding: 10px; /* 테두리와 내용 사이 간격*/
}
input{
	height:100%;
	width: 100%;
	border: none;
	border-bottom: 2px solid silver;
}

.imageView{
	background-image: url(/image/upload_Icon.png);
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	object-fit:cover;
	height: 250px;
	line-height:250px;
	width:250px;
	line-width:250px;
	border:3px solid rgb(240,240,240);
	text-align:center;
	display:flex;
	justify-content: center;
	border-radius:15px;
	overflow:hidden;
}
.imageView img{
	max-width:660px;
	max-height: 740px;
	object-fit:contain;
}

#listBox{
	width:190px;
}
#imageFileForm{
	width: 100px;
	background-color: red;
}

 textarea {
    width: 99%;
    height: 8rem;
    border: none;
    resize: none;
 }
 
 .terms{
 word-break:break-all;
 width: 1250px;
 }
