@charset "UTF-8";
body{
    margin:0;
}
body::-webkit-scrollbar {
    display: none;
}

ul{
	list-style:none;  /* type 없음 */
	
}
a{
	text-decoration-line: none;
	color:black;
}
.header{
    position: fixed;
    left: 50%;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transform: translateX(-50%);
    transition: all .3s;
    z-index: 101;
    background-color: rgba(255,255,255,1);
    height: 90px;
    font-size: 13px;
}
.down{
    background-color: rgba(255,255,255,1);
}

.logo{
	position: fixed;
    width: 110px;
    z-index: 20;
    z-index: 30;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#headerRight{
	    float: right;
	    
}
#headerRight{
    /* border:1px solid black; */
    display: inline-block;
    width:550px;
    margin-right: 50px;
    /* margin-top:68px;
    float: right; */
    
}
.menuList{
	text-align: right;
    margin-top: 10px;
        height: 40px;
}

.menuList a{
    margin: 0px 40px;
    position:relative;
}
.menuList a:after {
    /* display:block; */
    content:"";
    position:absolute;
    left:0;
    bottom:-10px;
    width:0px; /*왼쪽부터 가게 해줌. 없으면 그냥 뜸 */
    height:2px;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    background-color:  #595959;
    opacity:0;
}
.menuList a:hover:after {
    width:100%;
    opacity:1;
}

.icon{
    width:30px;
    float:right;
}
.menuList li, .header a{
    text-decoration-line: none;
    /* font-family: 'Noto Serif KR', serif; */
    font-family: 'Titillium Web', sans-serif;
    color:#595959;
}
#headerHeight{
    height:110px;
/*     background-color: yellow; */
    width:100%;
    position: relative;
}

/***********  MAIN MENU *****************/
#mainMenuBox {
	/* width:1280px; */
	height:35px;
}

#mainMenuBox ul {
	margin:0;
	/* position: absolute; */
}

#mainMenuBox ul li{
	    float: right;
    line-height: 30px;
    /* text-align: center; */
    /* width: 120px; */
    margin-right: 40px;
}

#mainMenuBox ul li a{
	text-decoration:none; /* <a> 태그 밑줄 없애기 */
	color:black;
	font-size:14px;
	    margin: 0;
}

#mainMenuBox ul li a:hover{	
	color:red;	
}

/***********  SUB MENU *****************/

#subMenuBox {
	right: 130px;
	background-color:#ffffff;
	z-index:10; /* 스크롤 시 위에 오도록 */
	text-align:center;
	position:absolute;
	padding-bottom:0;
	visibility:hidden; /* 시작 시 sub 메뉴 항목 숨김 */
}
.subMenuItem ul {
	padding: 0;
   /*  margin: 0; */
}
.subMenuItem ul li {
	height: 35px; 
	line-height:35px;
}

.subMenuItem ul li a {
	color:#333333;
	text-decoration:none;
}

/* 위 버튼  */
#upBtnBox{
	    position: fixed;
    bottom: 15%;
    left: 5%;
    z-index: 11;
    height: auto;
    width: 3%;
}
#upBtn{
	width:45px;
	height:45px;
	color:black;
	background-color: #dbf0e9;
	border-radius:50%;
	border:none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* chat 버튼  */

#chatBtn{
	width:45px;
	height:45px;
	color:black;
	border-radius:50%;
}