@charset "UTF-8";

body {
	margin: 0px;
}

.wrap {
	width: 1050px;
    height: 1980px;
	background-image: url("/images/signup_image1.png");
	background-size:100% 100%;
	margin-top: -160px;
	margin-left: 475px;
}

#signUpForm {
	width: 400px;
	margin: auto;
	padding: 10px;
	padding-top: 300px;
	text-align: left;
}

#signUpForm h1 {
	text-align: center;
}

.input_area {
	border: solid 1px #dadada;
	padding: 0px 0px 5px 0px;
	background: white;
}

.input_area input:not([type=checkbox]) {
	width: 260px;
	height: 35px;
}

.btnArea {
	text-align: center;
	padding: 30px;
}

button {
	width: 100px;
	height: 35px;
	border: 0px;
	color: white;
	background: #282A35;
	margin: 5px;
	cursor: pointer;
}