<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_cherrysumer.project.dao.IExhibitionDAO">
  
  
  <!-- 전시회 상세 조회 -->
  	<select id="detailViewExhibibition" parameterType="string"
  			resultType="com.spring_boot_cherrysumer.project.model.ExhibitionVO">
  		SELECT * FROM exhibition WHERE exhNo = #{exhNo}	
  	</select>  	
  	
  <!-- 전시회에 출력할 회원 정보 반환 -->
  	<select id="getMemberInfo" parameterType="string"
  			resultType="com.spring_boot_cherrysumer.project.model.MemberVO">
  		SELECT memId, memName, memImg
  		FROM member
  		WHERE memId=#{memId}
  	</select>
  	
  <!-- 전시회에 출력할 작품 정보 반환 -->
  	<select id="getArtInfo" parameterType="string"
  			resultType="com.spring_boot_cherrysumer.project.model.ArtVO">
  		SELECT *
  		FROM art
  		WHERE memId=#{memId}
  	</select>  	
  	


<!-- 전시회 신청  -->
	<!-- 전시회 신청 정보 (전시회테이블, 작품테이블) 저장 (다중 테이블 INSERT하려 했는데 안됨.) -->
	<!--  파라미터는 하나만 되서, 다중 안됨. -->
	<insert id="insertExhRequest" parameterType="com.spring_boot_cherrysumer.project.model.ExhibitionVO">
		INSERT
		INTO exhibition (exhNo, exhTitle_eng, exhTitle_kr, exhNickname, exhStartDate, exhEndDate, exhSummary,
								exhInterview1, exhInterview2, exhInterview3, exhClosingWords,memId)
		VALUES (#{exhNo}, #{exhTitle_eng}, #{exhTitle_kr}, #{exhNickname}, #{exhStartDate}, #{exhEndDate}, #{exhSummary},
								#{exhInterview1}, #{exhInterview2}, #{exhInterview3}, #{exhClosingWords}, #{memId})
	</insert>
		
	<insert id="insertArtRequest" parameterType="com.spring_boot_cherrysumer.project.model.ArtVO">
		INTO art (artNo, artImg, artName_kr, artName_eng, artPrice, artDate, artSize, artExplain, artMain, memId ,ctgId)
		VALUES (#{artNo}, #{artImg}, #{artName_kr}, #{artName_eng}, #{artPrice}, #{artDate}, #{artSize}, #{artExplain}, 
				#{artMain}, #{memId}, #{ctgId})
	</insert>
	
  	<!-- 전시회 신청서에 출력할 회원 정보 반환 -->
  	<select id="ExhRequest_MemberInfo" parameterType="string"
  			resultType="com.spring_boot_cherrysumer.project.model.MemberVO">
		SELECT memId, memName, memEmail, memHP
		FROM member
		WHERE memId=#{memId}
	</select>
	
	
	  <!--  작품 등록 -->
  <insert id="insertArtRequestArt" parameterType="com.spring_boot_cherrysumer.project.model.ArtVO">
  		INSERT INTO art (artImg, artName_kr, artName_eng, artPrice, artDate, artSize, artExplain, artMain, memId, ctgId)
  		VALUES (#{artImg}, #{artName_kr}, #{artName_eng}, #{artPrice}, #{artDate}, #{artSize}, #{artExplain}, #{artMain}, #{memId}, #{ctgId})
  </insert>



	<!-- 관리자 페이지 --> 
	<!-- 전시회 신청 목록 전체 조회 -->
	<select id="listAllRequest" resultType="com.spring_boot_cherrysumer.project.model.ExhibitionVO">
		SELECT * FROM Exhibition ORDER BY exhNO<!-- exhNo로 정렬.(ORDER BY) --> 
	</select>
	
	<!-- 신청한 회원 정보 출력 -->
	<select id="getMemberInfo2" parameterType="string"
			resultType="com.spring_boot_cherrysumer.project.model.MemberVO">
		SELECT memId, memName
		FROM member
		WHERE memId=#{memId}
	</select>
	
	<!-- 전시회 신청 승인 저장 -->
	<update id="confirmSave" parameterType="com.spring_boot_cherrysumer.project.model.ExhibitionVO">
		UPDATE exhibition 
		SET exhConfirm=#{exhConfirm} 
		WHERE exhNo=#{exhNo} 
	</update>

  </mapper>