@charset "UTF-8";

a {
  text-decoration: none; color:withe;
}

.container{
overflow:hidden;
	
}

.list {
	display:flex;
	list-style:none;
		padding:10px 0 0;
	margin:0;
}

.list li {
    flex: 1;
    height: 100vh;
    text-align: center;
    line-height: 112vh;
    font-size: 72px;
    transition: all .8s;
    background: no-repeat center;
    background-size: cover;
    font-weight: 900;
    color:white;
}
.list li:hover{
	flex:1.4;
	font-size:130px;
	color:white;
	text-shadow:0 0 17px;
}

.list li:not(:hover){
	flex:0.9;
}
.list li:nth-child(1){background-image:url(/image/picmain2.jpg) }
.list li:nth-child(2){background-image:url(/image/picmain.jpg) } 