<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.spring_boot_cherrysumer.project.dao.IReplyDAO">
    <resultMap id="repResult" type="com.spring_boot_cherrysumer.project.model.ReplyVO" >
  		<result property="rno"  column="rno"  />
  		<result property="cusNo"  column="cusNo"  />
  		<result property="writer"  column="writer"  />
  		<result property="content"  column="content"  />
  		<result property="regDate"  column="regDate"  />
  	</resultMap>
    <!-- 댓글 조회 -->
<select id="replyList" parameterType="int" resultType="com.spring_boot_cherrysumer.project.model.ReplyVO">
	select *
	from reply
		where cusNo = #{cusNo}		
</select>

<select id="replyList2" parameterType="String" resultType="com.spring_boot_cherrysumer.project.model.ReplyVO">
	select * from reply
		where writer = #{memId}		
</select>

<!-- 댓글 작성 -->
<insert id="replyWrite" parameterType="com.spring_boot_cherrysumer.project.model.ReplyVO">
	insert into reply(cusNo, writer, content, regDate)
		value(#{cusNo}, #{writer}, #{content}, #{regDate})
</insert>
	
<!-- 댓글 수정 -->
<update id="replyModify" parameterType="com.spring_boot_cherrysumer.project.model.ReplyVO">
	update reply set
		writer = #{writer},
		content = #{content}
	    where rno = #{rno}
		and cusNo = #{cusNo}	
</update>

<!-- 댓글 삭제 -->
<delete id="replyDelete" parameterType="com.spring_boot_cherrysumer.project.model.ReplyVO">
	delete from reply
	where rno = #{rno}
	and cusNo = ${cusNo}	
</delete>
<!-- 댓글 삭제 -->
<delete id="replyDelete2" parameterType="String">
	delete from reply
	where cusNo = ${cusNo}	
</delete>
<!-- 단일 댓글 조회 -->
<select id="replySelect" parameterType="com.spring_boot_cherrysumer.project.model.ReplyVO" resultType="com.spring_boot_cherrysumer.project.model.ReplyVO">
	select * from reply
		where cusNo = #{cusNo}
		and rno = #{rno}					
</select>

  	</mapper>